html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 350px;
    background-color: #444444;
    color: #fff;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr 80px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    text-transform: uppercase;
    text-align: center;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

section {
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
    background-color: rgb(228, 228, 228);
    padding: 1rem;
}

section a {
    padding: 1rem;
}